<section class="section overflow-hidden bg-gray" id="about-us">
  <div class="container">
    
    <div class="row pt-20">
      <div class="col-md-12 col-sm-12">
        <div class="about-box-text ">
            <h4 class="text-uppercase"><font style="vertical-align: inherit;"> <font style="vertical-align: inherit;">Our Values</font></font></h4>
            <p class="text-light">Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</p>
          </div>
          <hr>
          <div class="about-box-text">
            <h4 class="text-uppercase"><font style="vertical-align: inherit;"> <font style="vertical-align: inherit;">About Dental Office</font></font></h4>
            <p class="text-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. </font></font></p>
            <hr>
            <div>
              <div class="row">
                <div class="col-md-6">
                  <img src="/public/images/office.jpg" class="img img-thumbnail img-fluid"> 
                </div>
                <div class="col-md-6">
                  <img src="/public/images/office2.jpg" class="img img-thumbnail img-fluid"> 
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</section>

<section class="section overflow-hidden bg-white" id="about-dentist">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12"> 
        <div>
          <img class="mr-3 img img-thumbnail img-fluid hidden-sm-up w-150" src="/public/images/Client1.jpg" alt="Dentist profile">
          <div class="media">
            <img class="mr-3 w-120 mt-2 img img-thumbnail img-fluid hidden-sm-down" src="/public/images/Client1.jpg" alt="Dentist profile">
            <div class="media-body">
              <div class="about-box-text">
                <h4 class="text-uppercase"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About the Dentist</font></font></h4>
                <p class="text-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.  </font></font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>