<section class="section overflow-hidden" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <h4 class="text-dark text-uppercase"><font style="vertical-align: inherit;"><i class="fa fa-user-md"></i> <font style="vertical-align: inherit;">About the Dentist</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. </font></font></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <h4 class="text-dark text-uppercase"><font style="vertical-align: inherit;"> <i class="fa fa-home"></i> <font style="vertical-align: inherit;">About Dental Office</font></font></h4>
            <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. </font></font></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-20">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <h4 class="text-dark text-uppercase"><font style="vertical-align: inherit;"><i class="fa fa-id-card"></i> <font style="vertical-align: inherit;">Dental Care Services</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis. </font></font></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <h4 class="text-dark text-uppercase"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">Our Values</font></font></h4>
            <p>Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="about-section-more text-justify">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div>
            <p class="scrollto"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>