<style type="text/css" media="screen">
    .overlay-service {
        position: absolute;
        top: 240px;
        left: 0px;
        color: #FFF;
        background-color: rgba(0,0,0, 0.9);
        width: 100%;
        padding: 3px 15px;
        opacity: 0.7;
        text-align: right;
        min-height: 65px;

    }
    .service-title {
        position: absolute;
        top: 250px;
        left: 0px;
        height: 65px;
        color: #FFF;
        font-size: 1.1rem;
        padding: 0 15px;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        color: whitesmoke;

    }
</style>

<section class="section overflow-hidden bg-gray" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br>
                <h2 class="text-center">OUR SERVICES</h2>
                <h4 class="text-center">Services we offers to our patients and clients</h4>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow" >
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/child-patient.jpg" class="img-fluid mt-3" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Cleanings & Prevention</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/restoring-teeth.jpg" class="img-fluid mt-3" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Restoring Teeth</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/cosmetic.jpg" class="img-fluid mt-3" style="width: 180px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Cosmetic Dentistry</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/implant.jpg" class="img-fluid mt-3" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Dental Implants</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/root-canal.jpg" class="img-fluid mt-3" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Root Canal Therapy</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 box text-center py-20 px-10">
                <div class="card card-bordered card-hover-shadow">
                    <div class="card-block h-350">
                        <a href="#">
                            <img src="/public/images/other.jpg" class="img-fluid mt-3" style="width: 175px; border: 2px solid #e2e2e2; border-radius: 120px;">
                            <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Other Services</h4><hr>
                            <div class="overlay-service"> </div>
                            <h5 class="card-title service-title card-shadow fw-300">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>